.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 0);
  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(255, 255, 0);
  cursor: pointer;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav img {
  float: left;
}

.emptySpace {
  display: block;
  height: 80px;
}

/* 2dp elevation modified*/
.z-depth-1, nav, .product-panel, .product, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.product-panel {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.product {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.product .product-title {
  font-size: 24px;
  font-weight: 300;
}

.product .product-title.activator {
  cursor: pointer;
}

.product.small, .product.medium, .product.large {
  position: relative;
}

.product.small .product-image, .product.medium .product-image, .product.large .product-image {
  max-height: 60%;
  overflow: hidden;
}

.product.small .product-image + .product-content, .product.medium .product-image + .product-content, .product.large .product-image + .product-content {
  max-height: 40%;
}

.product.small .product-content, .product.medium .product-content, .product.large .product-content {
  max-height: 100%;
  overflow: hidden;
}

.product.small .product-action, .product.medium .product-action, .product.large .product-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.product.small {
  height: 300px;
}

.product.medium {
  height: 400px;
}

.product.large {
  height: 500px;
}

.product.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.product.horizontal.small .product-image, .product.horizontal.medium .product-image, .product.horizontal.large .product-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}

.product.horizontal.small .product-image img, .product.horizontal.medium .product-image img, .product.horizontal.large .product-image img {
  height: 100%;
}

.product.horizontal .product-image {
  max-width: 50%;
}

.product.horizontal .product-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}

.product.horizontal .product-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.product.horizontal .product-stacked .product-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product.sticky-action .product-action {
  z-index: 2;
}

.product.sticky-action .product-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.product .product-image {
  position: relative;
}

.product .product-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.product .product-image .product-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.product .product-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.product .product-content p {
  margin: 0;
}

.product .product-content .product-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.product .product-content .product-title i {
  line-height: 32px;
}

.product .product-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}

.product .product-action:last-child {
  border-radius: 0 0 2px 2px;
}

.product .product-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.product .product-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.product .product-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.product .product-reveal .product-title {
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 1400px){}

.quantity{
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.quantity .amount {
  display: block;
}

.quantity .number {
  display:block;
  font-size: 30px;
  margin-top: -15%;
}

.quantity .subtotal {
  display: block;
  font-size: 20px;
  margin-top: 20px;
}

#logout {
  .transition: .5s;
  min-width: 200px;
  max-width: 350px;
}

#logout:hover span {
  display: none;
}

#logout:hover:before {
  content: "Logout"
}

.hidden {
  display: none;
}

#logo {
  cursor: pointer;
}

